<f:layout name="Default" />

<f:section name="Title">A list of histories</f:section>

<f:section name="Content">
	<f:if condition="{histories}">
		<f:then>
			<ul>
				<f:for each="{histories}" as="history">
					<li>
						<f:link.action action="show" arguments="{history: history}">{history.name}</f:link.action>
						<f:link.action action="edit" arguments="{history: history}">Edit</f:link.action>
						<f:link.action action="delete" arguments="{history: history}">Delete</f:link.action>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No histories created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action action="new">Create a new history</f:link.action></p>
</f:section>