{namespace bootstrap=TYPO3\Twitter\Bootstrap\ViewHelpers}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><f:render section="Title" /></title>
		<f:base />
		<bootstrap:include version="2.1" includeJQuery="TRUE" />
		<link rel="stylesheet/less" href="{f:uri.resource(path:'CSS/pmaechler-workflow.css')}">
		<script src="{f:uri.resource(path:'JS/pmaechler-workflow.js')}"></script>
	</head>
	<body>
		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<f:link.action action="index" controller="Standard" class="brand">
						Workflow
					</f:link.action>

					<bootstrap:navigation.menu items="{navigationItems}" />

					<f:if condition="{user}">
						<span class="loggedInAs pull-right">
							Logged in as {user.name.firstName} {user.name.lastName} -
							<f:link.action action="logout" controller="Login">
								Logout
							</f:link.action>
						</span>
					</f:if>
				</div>
			</div>
		</div>


		<div class="container">
			<div class="row">
				<div class="span12">
					<h1><f:render section="Title" /></h1>
				</div>
			</div>

			<div class="row">
				<div class="span12">
					<glossary:flashMessages />
				</div>
			</div>

			<div class="row">
				<div class="span12">
					<f:render section="Content" />
				</div>
			</div>
		</div>
	</body>
</html>