<f:layout name="Default" />

<f:section name="Title">A list of email texts</f:section>

<f:section name="Content">
	<f:if condition="{emailTexts}">
		<f:then>
			<ul>
				<f:for each="{emailTexts}" as="emailText">
					<li>
						<f:link.action action="show" arguments="{emailText: emailText}">{emailText.name}</f:link.action>
						<f:link.action action="edit" arguments="{emailText: emailText}">Edit</f:link.action>
						<f:link.action action="delete" arguments="{emailText: emailText}">Delete</f:link.action>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No email texts created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action action="new">Create a new email text</f:link.action></p>
</f:section>