<f:layout name="Default" />

<f:section name="Title">A list of customers</f:section>

<f:section name="Content">
	<f:if condition="{customers}">
		<f:then>
			<ul>
				<f:for each="{customers}" as="customer">
					<li>
						<f:link.action action="show" arguments="{customer: customer}">{customer.name}</f:link.action>
						<f:link.action action="edit" arguments="{customer: customer}">Edit</f:link.action>
						<f:link.action action="delete" arguments="{customer: customer}">Delete</f:link.action>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No customers created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action action="new">Create a new customer</f:link.action></p>
</f:section>