<f:layout name="Default" />

<f:section name="Title">Show customer "{customer.name}"</f:section>

<f:section name="Content">
	<table>
		<tr>
			<th>Title</th>
			<td>{customer.title}</td>
		</tr>
	
		<tr>
			<th>Firstname</th>
			<td>{customer.firstname}</td>
		</tr>
	
		<tr>
			<th>Lastname</th>
			<td>{customer.lastname}</td>
		</tr>
	
		<tr>
			<th>Company</th>
			<td>{customer.company}</td>
		</tr>
	
		<tr>
			<th>Address</th>
			<td>{customer.address}</td>
		</tr>
	
		<tr>
			<th>Zip</th>
			<td>{customer.zip}</td>
		</tr>
	
		<tr>
			<th>City</th>
			<td>{customer.city}</td>
		</tr>
	
		<tr>
			<th>Email</th>
			<td>{customer.email}</td>
		</tr>
	
		<tr>
			<th>Phone</th>
			<td>{customer.phone}</td>
		</tr>
	
		<tr>
			<th>Quote</th>
			<td>{customer.quote}</td>
		</tr>
	
		<tr>
			<th>Domain</th>
			<td>{customer.domain}</td>
		</tr>
	
		<tr>
			<th>Ftp username</th>
			<td>{customer.ftpUsername}</td>
		</tr>
	
		<tr>
			<th>Ftp password</th>
			<td>{customer.ftpPassword}</td>
		</tr>
	
		<tr>
			<th>Plesk username</th>
			<td>{customer.pleskUsername}</td>
		</tr>
	
		<tr>
			<th>Plesk password</th>
			<td>{customer.pleskPassword}</td>
		</tr>
	
		<tr>
			<th>Status</th>
			<td>{customer.status}</td>
		</tr>
	
		<tr>
			<th>Security hash</th>
			<td>{customer.securityHash}</td>
		</tr>
	
		<tr>
			<th>History entries</th>
			<td>{customer.historyEntries}</td>
		</tr>
	</table>
	<f:link.action action="index">Back</f:link.action>
</f:section>