<f:layout name="Default" />

<f:section name="Title">Glossary: Welcome</f:section>

<f:section name="Content">
	<div class="row">
		<div class="span6">
			<f:if condition="{categories}">
				<f:then>
					<f:for each="{categories}" as="category">
						<div class="category">
							<h5>
								{category.name}
							</h5>
						</div>
					</f:for>
				</f:then>
				<f:else>
					<div class="category">
						<h5>
							There is no category
						</h5>
					</div>
				</f:else>
			</f:if>
		</div>
	</span>
</f:section>